<div class="modal fade" id="postModal-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'edit', post_to_edit: post %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="modal-save-<%= post.id %>">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#modal-save-<%= post.id %>').on('click', function(e){
    e.preventDefault();
    $(this).prev().trigger('click');
    $('#submit-edit-<%= post.id %>').trigger('click');
  })
</script>
