<tr id="post-<%= post.id %>">
  <td><%= post.title %></td>
  <td><%= link_to 'Show', post %></td>
  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal-<%= post.id %>">
  Edit
</button>
<%= render 'edit_modal', post: post %>
</td>

  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>
