<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<input type="text" placeholder="Buscar posts" id="posts-search">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="posts_body">
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'form', post: @post %>
